# OS
.DS_Store

# Python
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.python-version

# Editors/IDE
.vscode/
.idea/

# Builds/Caches
dist/
build/
.cache/

# Logs
*.log

# Local artifacts
cv_raw.txt

